<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>第二阶段报告册填写</title>
    <link rel="stylesheet" href="../../../public/css/nav.css">
    <script src="../../../public/js/jquery.js"></script>
    <link rel="stylesheet" href="../../../public/css/reset.css">
    <script src="../../../public/js/utils.js"></script>
    <link rel="stylesheet" href="/public/pages/student/submit/submit.css">
    <script src="/public/pages/student/submit/secsubmit.js"></script>
    <!-- <script src="../../../public/js/nav.js"></script> -->
</head>
<body>
    <!--导航-->
    <div class="nav">
            <div class="item">
                <div class="nav-main">我的信息</div>
            </div>
            <div class="item active">
                <div class="nav-main">报告册填写</div>
                <ul class="list">
                    <li><button>第一阶段填写</button></li>
                    <li><button>第二阶段填写</button></li>
                </ul>
            </div>
            <div class="item">
                <div class="nav-main">鉴定表填写</div>
            </div>
            <div class="item logout">
                    <div class="content"><span class="iconfont icon-zhuxiao"></span>注销</div>
                </div>
        </div>
        <!--填写报告册-->
        <form action="secSubmit.html" method="post">
                <div class="name">第二阶段填报报告表</div>
                <label for="starttime">
                    <div class="title">指导时间</div>
                    <input type="date" id="starttime" name="starttime"> &nbsp;到&nbsp; <input type="date" id="endtime" name="endtime" >
                </label>
                <label for="text">
                    <div class="title">指导方式</div>
                    <input type="text" id="method" name="method">
                </label>
                <label for="summary">
                    <div class="title">实习总结</div>
                    <textarea name="summary" id="summary" cols="30" rows="20"></textarea>
                </label>
                <br>
                <button class="submit" type="button">提交</button>
            </form>

            
</body>
</html>