<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>我的信息</title>
    <link rel="stylesheet" href="../../../public/css/nav.css">
    <link rel="stylesheet" href="../../../public/css/reset.css">
    <script src="/public/js/jquery.js"></script>
    <script src="/public/js/utils.js"></script>
    <link rel="stylesheet" href="/public/pages/student/details/details.css">
    <script src="/public/js/config.js"></script>
    <script src="/public/js/template-web.js"></script>
    
    <!-- <script src="../../../public/js/nav.js"></script> -->
    <script src="/public/pages/student/details/details.js"></script>
</head>
    
<body>
<!--导航-->
<div class="nav">
    <div class="item active">
        <div class="nav-main">我的信息</div>
    </div>
    <div class="item">
        <div class="nav-main">报告册填写</div>
        <ul class="list">
            <li><button>第一阶段填写</button></li>
            <li><button>第二阶段填写</button></li>
        </ul>
    </div>
    <div class="item">
        <div class="nav-main">鉴定表填写</div>
    </div>
    <div class="item logout">
        <div class="content"><span class="iconfont icon-zhuxiao"></span>注销</div>
    </div>
</div>
<!--我的信息部分-->
<div class="details-window">
    <div class="student-info">
        <div class="title">学生信息</div>
        <div class="text"><span>姓名</span>加载中</div>
        <div class="text"><span>学号</span>加载中</div>
        <div class="text"><span>微信</span>加载中</div>
        <div class="text"><span>专业</span>加载中</div>
        <div class="text"><span>身份证号</span>加载中</div>
        <div class="text">加载中</div>
        <div class="text"></div>
        <div class="controls"><button>实习报告表</button><button>实习鉴定表</button></div>
    </div>
    <div class="teacher-info">
        <div class="title">导师信息</div>
        <div class="text"><span>姓名</span>加载中</div>
        <div class="text"><span>性别</span>加载中</div>
        <div class="text"><span>年龄</span>加载中</div>
        <div class="text"><span>工号</span>加载中</div>
        <div class="text">加载中</div>
        <div class="text"></div>
    </div>
    <div class="company-info">
        <div class="title">绑定企业</div>
        <label for="company">
            <div class="block">
                <span class="company-title">实习单位</span><input class="bind-input" id="company" name="company" type="text">
            </div>
        </label>
        <label for="work">
            <div class="block">
                <span class="company-title">实习岗位</span><input class="bind-input" id="work" name="work" type="text">
            </div>
        </label>


        <div class="bind-controls"><button class="bind-btn">绑定</button></div>

    </div>
</div>
</body>
</html>