<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>鉴定表填写</title>
    <link rel="stylesheet" href="../../../public/css/reset.css">
    <link rel="stylesheet" href="../../../public/css/form.css">
    <link rel="stylesheet" href="../../../public/css/publicdetails.css">
    <script src="../../../public/js/jquery.js"></script>
    <style>
        .msg-block:last-of-type {
            padding-top: 80px;
            position: relative;
        }

        .content-name,.content {
            flex: 1;
        }
        .flexbox{
            display: flex;
        }
        .black {
            color: black;
        }
        .timeset input{
            margin-left: 10px;
        }
    </style>
</head>

<body>
    <div class="window">
        <div class="window-tittle">
            <span id="">王坦克</span>鉴定表
        </div>
        <div class="content flexbox">
            <div class="content-name">学院：<span id="" class="black">信息工程学院</span></div>
            <div class="content-name">专业：<span id="" class="black">计算机科学与技术</span></div>
        </div>
        <div class="content flexbox">
            <div class="content-name">姓名：<span id="" class="black">王坦克</span></div>
            <div class="content-name">学号：<span id="" class="black">201702767</span></div>
        </div>
        <div class="content flexbox">
            <div class="content-name">实习单位：<span id="" class="black">成都腾讯大厦B座</span></div>
            <div class="content-name">实习日期：<span id="" class="black">2019/5/1</span>&nbsp;至&nbsp;<span id="" class="black">2019/8/1</span></div>
        </div>


        <div class="msg-block">
            <div class="title">鉴定表</div>
            <div class="content">
                <div class="content-name">实习内容</div>
                <div class="inner-content">
                    这次实习，除了让我对商业企业的基本业务有了必须了解，并且能进行基本操作外，我觉得自我在其他方面的收获也是挺大的.作为一名一向生活在单纯的大学学校的我，这次的实习无疑成为了我踏入社会前的一个平台，为我今后踏入社会奠定了基础.\n
                    　　首先，我觉得在学校和单位的很大一个不一样就是进入社会以后务必要有很强的职责心.在工作岗位上，我们务必要有强烈的职责感，要对自我的岗位负责，要对自我办理的业务负责.如果没有完成当天就应完成的工作，那职员务必得加班;如果不留意出现了错误，也务必负责纠正。\n
                    　　其次，我觉得工作后每个人都务必要坚守自我的职业道德和努力提高自我的职业素养，正所谓做一行就要懂一行的行规.在这一点上我从实习单位同事那里深有体会.比如，有的事务办理需要工作证件，虽然对方可能是自我认识的人，他们也会要求对方出示证件，而当对方有所微词时，他们也总是耐心的解释为什么务必得这么做.此刻商业企业已经纳入正规化管理，所以职员的工作态度问题尤为重要，这点我有亲身感受.\n
                    　　最终，我觉得到了实际工作中以后，学历并不显得最重要，主要看的是个人的业务潜力和交际潜力.任何工作，做得时间久了是谁都会做的，在实际工作中动手潜力更重要.\n
                    　　所以，我体会到，如果将我们在大学里所学的知识与更多的实践结合在一齐，用实践来检验真理，使一个本科生具备较强的处理基本实务的潜力与比较系统的专业知识，这才是我们实习的真正目的.\n
                    　　很感激实习单位给我这个这么好的实习机会，让我学习很多、成长很多、收获很多。</div>
                <div class="time"><span class="time-text">时间</span><span class="time-inner">2019/10/24</span></div>
            </div>
            <div class="content">
                <div class="content-name">自我总结</div>
                <div class="inner-content">
                    这次实习，除了让我对商业企业的基本业务有了必须了解，并且能进行基本操作外，我觉得自我在其他方面的收获也是挺大的.作为一名一向生活在单纯的大学学校的我，这次的实习无疑成为了我踏入社会前的一个平台，为我今后踏入社会奠定了基础.\n
                    　　首先，我觉得在学校和单位的很大一个不一样就是进入社会以后务必要有很强的职责心.在工作岗位上，我们务必要有强烈的职责感，要对自我的岗位负责，要对自我办理的业务负责.如果没有完成当天就应完成的工作，那职员务必得加班;如果不留意出现了错误，也务必负责纠正。\n
                    　　其次，我觉得工作后每个人都务必要坚守自我的职业道德和努力提高自我的职业素养，正所谓做一行就要懂一行的行规.在这一点上我从实习单位同事那里深有体会.比如，有的事务办理需要工作证件，虽然对方可能是自我认识的人，他们也会要求对方出示证件，而当对方有所微词时，他们也总是耐心的解释为什么务必得这么做.此刻商业企业已经纳入正规化管理，所以职员的工作态度问题尤为重要，这点我有亲身感受.\n
                    　　最终，我觉得到了实际工作中以后，学历并不显得最重要，主要看的是个人的业务潜力和交际潜力.任何工作，做得时间久了是谁都会做的，在实际工作中动手潜力更重要.\n
                    　　所以，我体会到，如果将我们在大学里所学的知识与更多的实践结合在一齐，用实践来检验真理，使一个本科生具备较强的处理基本实务的潜力与比较系统的专业知识，这才是我们实习的真正目的.\n
                    　　很感激实习单位给我这个这么好的实习机会，让我学习很多、成长很多、收获很多。</div>
                <div class="time"><span class="time-text">时间</span><span class="time-inner">2019/10/24</span></div>
            </div>
        </div>

        <!-- <div class="internship-grade">
            <div class="line-one flexbox">
                <div class="content">
                    <div class="content-name">实习单位指导教师成绩评语</div>
                    <div class="inner-content">暂无评价</div>
                    <div class="inner-content">成绩：<span></span></div>
                    <div class="time"><span class="time-text">时间</span><span class="time-inner">2019/10/26</span></div>
                </div>
                <div class="content">
                    <div class="content-name">实习单位审核意见</div>
                    <div class="inner-content">暂无评价</div>
                    <div class="time"><span class="time-text">时间</span><span class="time-inner"></span></div>
                </div>
            </div>
            <div class="content">
                <div class="content-name">实习单位指导教师成绩评定</div>
                <div class="inner-content">暂无评价</div>
                <div class="time"><span class="time-text">时间</span><span class="time-inner">2019/10/26</span></div>
            </div>

        </div> -->
        <div class="content">
            <div class="content-name">实习单位指导教师评语及成绩评定</div>
            <div class="inner-content"><textarea name="summary" id="summary" cols="30" rows="10"></textarea>
            </div>
            <div class="inner-content">实习成绩：<span>
                    <select name="" id="report-grade" class="rep-garde-select">
                        <option value="">优秀</option>
                        <option value="">良好</option>
                        <option value="">中等</option>
                        <option value="">及格</option>
                        <option value="">不及格</option>
                    </select>
                </span>
            </div>
            <div class="timeset">
                时间<input type="date" id="" name="">
            </div>
        </div>
        <div class="content">
            <div class="content-name">实习单位审核意见</div>
            <div class="inner-content"><textarea name="summary" id="summary" cols="30" rows="10"></textarea></div>
            <div class="timeset">
                时间<input type="date" id="" name="">
            </div>
        </div>
        
        <div class="content">
            <div class="content-name">所在学院指导老师成绩评定</div>
            <div class="inner-content">
                <textarea name="summary" id="summary" cols="30" rows="10"></textarea>
            </div>
            <div class="timeset">
                时间<input type="date" id="" name="">
            </div>
        </div>
        <div class="content">
            <div class="content-name">综合实习成绩评定</div>
            <div class="inner-content">
                <textarea name="summary" id="summary" cols="30" rows="10"></textarea>
            </div>
            <div class="timeset">
                时间<input type="date" id="" name="">
            </div>
        </div>
        <div class="content">
            <div class="content-name">所在学院实习领导小组意见</div>
            <div class="inner-content">
                <textarea name="summary" id="summary" cols="30" rows="10"></textarea>
            </div>
            <div class="timeset">
                时间<input type="date" id="" name="">
            </div>
        </div>

        <div class="msg-block">
            <button class="submit" type="button" id="">提交</button>
            <button class="return" id="">返回</button>
        </div>
</body>
<script>
    $(function () {
        $('.return').click(function () {
            window.history.back();
            return false
        })
    })

</script>

</html>